.main__skills{
    width: 250px;
    color: var(--txt-inf-body);
}

.main__skills li {
    margin: 5px 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.main__skills li::before{
    content: '•';
}

.unmark__list{
    margin-left: 0px !important;
}

.unmark__list li::before{
    content: none;
}

.main__skills a{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.main__skills p{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.main__skills h1 {
    font-size: 20px;
    color: var(--txt-inf-head);
}

.main__skills h2 {
    font-size: 18px;
    color: var(--txt-inf-body);
    font-weight: 600;
}

.icon{
    margin-right: 5px;
}



