@font-face {
    font-family: "Rubik";
    src: url("../font/Rubik-Regular.ttf") format("truetype");
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("../font/Rubik-Bold.ttf") format("truetype");
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("../font/Rubik-Medium.ttf") format("truetype");
    font-weight: medium;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("../font/Rubik-Light.ttf") format("truetype");
    font-weight: lighter;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("../font/Rubik-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
}