@import url('font.css');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

:root{
    --txt-head: #101214;
    --txt-body: #222222;
    --txt-inf-head: #2B3239;
    --txt-inf-body: #2D2E2F;
    --txt-date: #73808D;
}

html,
body {
    background-color: #f4f4f4;
    font-family: Rubik, sans-serif;
    font-weight: normal;
}

a {
    /* text-decoration: none; */
    color: inherit;
}

.container {
    padding: 0 30px;
    width: 62.5rem;
    height: 100%;
    margin: 0 auto;
}