@import url('font.css');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

/* :root{
    
} */

html[data-theme="light"]{
    --bg-color: #f4f4f4;
    --txt-head: #101214;
    --txt-body: #222222;
    --txt-inf-head: #2B3239;
    --txt-inf-body: #2D2E2F;
    --txt-date: #73808D;
}

html[data-theme="dark"]{
    --bg-color: #050321;
    --txt-head: #e3e3e3;
    --txt-body: #e3e3e3;
    --txt-inf-head: #e3e3e3;
    --txt-inf-body: #e3e3e3;
    --txt-date: #8c8989;
}

html,
body {
    font-family: Rubik, sans-serif;
    font-weight: normal;
    background-color: var(--bg-color);
    transition: all 1s ease;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    padding: 0 30px;
    max-width: 62.5rem;
    height: 100%;
    margin: 0 auto;
}