.main__skills{
    width: 250px;
}

.main__skills li {
    margin: 5px 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.main__skills li::before{
    content: '•';
}

.main__skills h1 {
    font-size: 20px;
    color: var(--txt-inf-head);
}

.main__skills h2 {
    font-size: 18px;
    color: var(--txt-inf-body);
    font-weight: 600;
}

.bx{
    font-size: 20px;
}

.npm{
    height: 10px;
}

.sql{
    height: 16px;
}

.img_ic{
    margin: 0 2px;
}