.main {
    margin: 150px 0;
    height: 100%;
}

.main .container{
    display: flex;
    justify-content: space-between;
}

.main__content-experience,
.main__content-education {
    margin-top: 100px;
}

.main__content{
    width: 600px;
}

.main__content-about p,
.main__content-experience p {
    margin-top: 20px;
    font-size: 18px;
}

.main__skills{
    width: 250px;
}
