.main {
    margin: 150px 0;
    height: 100%;
}

.container {
    padding: 0 30px;
    max-width: 62.5rem;
    height: 100%;
    margin: 0 auto;
}

.main .container{
    display: flex;
    justify-content: space-between;
}

.content__item{
    margin-bottom: 100px;
}

.main__content{
    width: 600px;
}

.main__content p{
    margin-top: 20px;
    font-size: 18px;
}


